nav {
  background-color: #121212;
  display: grid;
  position: absolute;
  height: 100%;

  grid-template-rows: 0.5fr 0.5fr 2fr 1.5fr;
}

nav a {
  padding: 1em;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  position: relative;
  text-decoration: none;

  height: fit-content;
}

nav a img
{
  width: 2em;
  height: auto;

  filter: invert(1);
}

nav a .tooltip {
  visibility: hidden;
  background-color: #121212a4;
  color: #f5f5f5;
  text-align: center;
  border-radius: 0.4em;
  padding: 0.5em;
  position: absolute;
  z-index: 1;

  font-size: 1em;

  left: 120%;
  bottom: 20%;

  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
}

nav a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


@media screen and (orientation: portrait) {

  nav {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-around;

    position: fixed;
    bottom: 0;
    right: 0;

    padding: 1em;

    margin: 0;
  }

  nav a img
  {
    width: 5vh;
    height: auto;
  }

  nav a .tooltip
  {
    font-size: 2vh;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120%;
  }

}
